* {
	box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding:0;
}

h1 {
  text-align: center;
  font-family: sans-serif;
  font-size: 60px;
}

.section {
  background-color: #9999ff;
  border: 1px solid;
  position: relative;
  margin: 6px;
}

.section > h2 {
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  text-align: center;
  width: 100px;
  float: right;
  margin-top: 0;

}
 .section > p {
  padding: 10px;
  padding-top: 10px;
  padding-left: 20px;
 }

.head1 {
  background-color: #ff9933;
 }

 .head2 {
  background-color: #33cc33;
 }

.head3 {
  background-color: #ff1a1a;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}
/********** desktop **********/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    width: 33.33%;
    height: auto;
  }
}

/********** tablet **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
    float: left;
    height: auto;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }
}